<h2>Current</h2>
<h4>The world at your fingertips</h4>
<ul>
	<li>Organize your favorite places on the internet</li>
	<li>Add tags for quick searching</li>
</ul>

<h2>Roadmap</h2>
<h4>A peak at what's coming</h4>
<ul>
	<li>Quick search in toolbar</li>
	<li>Support for companies and groups</li>
	<li>Share your favorites with others</li>
</ul>