<div id="home-jumbo" class="jumbotron">
	<h1>bookmrks.io</h1>

	<h3>
		Store your favorites.<br/>
		Find them quick.
	</h3>

	<%= link_to "Sign Up!", signup_path, class: "btn btn-lg btn-primary" %>
	<h4>or <%= link_to "log in", login_path %></h4>
</div>