<div class="center jumbotron">
	<h1>Welcome to Bookmrks.io</h1>

	<h3>
		Store all of your bookmarks for you and your team. Tag them for easy access.
	</h3>

	<%= link_to "Sign up for beta!", "#", class: "btn btn-lg btn-primary" %>
</div>